In [59]:
import numpy as np
import pandas as pd

In [60]:

exam_data={'name':['Anastasia','Dima','Katherine','James','Emily','Michael','Matthew','Laura','Kevin','Jonas'],
           'score':[12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
           'attempts':[1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
           'qualify':['yes','no','yes','no','no','yes','yes','no','no','yes']
}

labels = ['a','b','c','d','e','f','g','h','i','j']

In [61]:
# Write a Python program to create and display a DataFrame from a specified dictionary data which has the index labels.

dataFrame = pd.DataFrame({'name':exam_data['name'],
                         'score':exam_data['score'],
                         'attempts':exam_data['attempts'],
                         'qualify':exam_data['qualify']}, index=labels)

print(dataFrame)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [62]:
# Write a Python program to display a summary of the basic information about a specified DataFrame and its data.

print(dataFrame.describe())

           score   attempts
count   8.000000  10.000000
mean   13.562500   1.900000
std     4.693746   0.875595
min     8.000000   1.000000
25%     9.000000   1.000000
50%    13.500000   2.000000
75%    17.125000   2.750000
max    20.000000   3.000000

In [63]:
# Write a Python program to get the first 3 rows of a given DataFrame.
print(dataFrame.iloc[:3, :4])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [64]:
# Write a Python program to select the 'name' and 'score' columns from the following DataFrame.

print(dataFrame['name'])
print(dataFrame['score'])

a    Anastasia
b         Dima
c    Katherine
d        James
e        Emily
f      Michael
g      Matthew
h        Laura
i        Kevin
j        Jonas
Name: name, dtype: object
a    12.5
b     9.0
c    16.5
d     NaN
e     9.0
f    20.0
g    14.5
h     NaN
i     8.0
j    19.0
Name: score, dtype: float64

In [65]:
# Write a Python program to select the specified columns and rows from a given data frame. 
inputColumnSize = int(input('Enter the number of columns to be selected: '))
inputRowSize = int(input('Enter the number of rows to be selected: '))
inputColumn = []
inputRow = []

for i in range(inputColumnSize):
    column = input('Enter the column name: ')
    inputColumn.append(column)

for i in range(inputRowSize):
    row = input('Enter the index of row: ')
    inputRow.append(row)

print(dataFrame.loc[inputRow, inputColumn])

ValueError: invalid literal for int() with base 10: ''

In [66]:
# Write a Python program to select the rows where the number of attempts in the examination is greater than 2.

print(dataFrame[dataFrame['attempts'] > 2])

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

In [67]:
# Write a Python program to count the number of rows and columns of a DataFrame. 

size = dataFrame.shape
print("Number of rows: ", size[0])
print("Number of cloumns: ", size[1])

Number of rows:  10
Number of cloumns:  4

In [68]:
# Write a Python program to select the rows where the score is missing, i.e. is NaN.  

print(dataFrame[dataFrame['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [69]:
# Write a Python program to select the rows the score is between 15 and 20 (inclusive).

print(dataFrame[(dataFrame['score'] >= 15) & (dataFrame['score'] <= 20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [70]:
# Write a Python program to select the rows where number of attempts in the examination is less than 2 and score greater than 15.

print(dataFrame[(dataFrame['attempts'] > 2) & (dataFrame['score'] > 15)])

      name  score  attempts qualify
f  Michael   20.0         3     yes

In [71]:
# Write a Python program to change the score in row 'd' to 11.5.

print("Before changing the value")
print(dataFrame)
dataFrame.loc['d', 'score'] = 11.5
print("After changing the value")
print(dataFrame)

Before changing the value
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
After changing the value
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [72]:
# Write a Python program to calculate the sum of the examination attempts by the students. 

attempts = dataFrame['attempts']
print("Sum of the examination attempts by students: ", sum(attempts))

Sum of the examination attempts by students:  19

In [ ]:
# Write a Python program to calculate the mean score for each different student in DataFrame. 

print("The mean score of all students: ", dataFrame['score'].mean())

The mean score of all students:  13.61111111111111

In [ ]:
# Write a Python program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.

newRow = pd.DataFrame({'name': ['Bruce Wayne'],
                      'score': [15.0],
                      'attempts': [2],
                      'qualify': ['yes']}, index = ['k'])
dataFrame = pd.concat([dataFrame, newRow])

print("Dataframe after adding a new row: ")
print(dataFrame)

dataFrame = dataFrame.drop('k')
print("Dataframe after removing the new row: ")
print(dataFrame)

Dataframe after adding a new row:
          name  score  attempts qualify
a    Anastasia   12.5         1     yes
b         Dima   11.5         3      no
c    Katherine   16.5         2     yes
d        James   11.5         3      no
e        Emily    9.0         2      no
f      Michael   20.0         3     yes
g      Matthew   14.5         1     yes
h        Laura    NaN         1      no
i        Kevin    8.0         2      no
j        Jonas   19.0         1     yes
k  Bruce Wayne   15.0         2     yes
Dataframe after removing the new row:
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima   11.5         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [ ]:
# Write a Python program to sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order. 

dataFrame = dataFrame.sort_values(by='name', ascending=False)
dataFrame = dataFrame.sort_values(by='score')
print(dataFrame)

        name  score  attempts qualify
i      Kevin    8.0         2      no
e      Emily    9.0         2      no
d      James   11.5         3      no
b       Dima   11.5         3      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
h      Laura    NaN         1      no

In [73]:
# Write a Python program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.

dataFrame['qualify'] = dataFrame['qualify'].replace({'yes': True, 'no': False})
dataFrame = dataFrame.sort_index()
print(dataFrame)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

C:\Users\nssud\AppData\Local\Temp\ipykernel_30968\672244514.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  dataFrame['qualify'] = dataFrame['qualify'].replace({'yes': True, 'no': False})

In [76]:
# Write a Python program to change the name 'James' to 'Suresh' in name column of the DataFrame.

dataFrame['name'] = dataFrame['name'].replace('James', 'Suresh')
print(dataFrame)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d     Suresh   11.5         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [77]:
# Write a Python program to delete the 'attempts' column from the DataFrame. 

dataFrame.drop('attempts', axis=1)

        name  score  qualify
a  Anastasia   12.5     True
b       Dima    9.0    False
c  Katherine   16.5     True
d     Suresh   11.5    False
e      Emily    9.0    False
f    Michael   20.0     True
g    Matthew   14.5     True
h      Laura    NaN    False
i      Kevin    8.0    False
j      Jonas   19.0     True

In [78]:
# Write a Python program to insert a new column in existing DataFrame. 

dataFrame['age'] = [15, 16, 14, 15, 14, 14, 16, 16, 15, 15]

print(dataFrame)

        name  score  attempts  qualify  age
a  Anastasia   12.5         1     True   15
b       Dima    9.0         3    False   16
c  Katherine   16.5         2     True   14
d     Suresh   11.5         3    False   15
e      Emily    9.0         2    False   14
f    Michael   20.0         3     True   14
g    Matthew   14.5         1     True   16
h      Laura    NaN         1    False   16
i      Kevin    8.0         2    False   15
j      Jonas   19.0         1     True   15

In [ ]:
#  Write a Python program to iterate over rows in a DataFrame. 

for i in range(10):
    print(dataFrame.iloc[i])
    print('---------------------------------------------')

name        Anastasia
score            12.5
attempts            1
qualify          True
age                15
Name: a, dtype: object
---------------------------------------------
name         Dima
score         9.0
attempts        3
qualify     False
age            16
Name: b, dtype: object
---------------------------------------------
name        Katherine
score            16.5
attempts            2
qualify          True
age                14
Name: c, dtype: object
---------------------------------------------
name        Suresh
score         11.5
attempts         3
qualify      False
age             15
Name: d, dtype: object
---------------------------------------------
name        Emily
score         9.0
attempts        2
qualify     False
age            14
Name: e, dtype: object
---------------------------------------------
name        Michael
score          20.0
attempts          3
qualify        True
age              14
Name: f, dtype: object
---------------------------------------------
name        Matthew
score          14.5
attempts          1
qualify        True
age              16
Name: g, dtype: object
---------------------------------------------
name        Laura
score         NaN
attempts        1
qualify     False
age            16
Name: h, dtype: object
---------------------------------------------
name        Kevin
score         8.0
attempts        2
qualify     False
age            15
Name: i, dtype: object
---------------------------------------------
name        Jonas
score        19.0
attempts        1
qualify      True
age            15
Name: j, dtype: object
---------------------------------------------

In [92]:
# Write a Python program to get list from DataFrame column headers. 

print("List of column headers")
print(list(dataFrame.columns))

List of column headers
['name', 'score', 'attempts', 'qualify', 'age']